
<%= render "form", task: @task %>
  <%= link_to "Back to list", tasks_path()  %>
  <%# <form >
    <input type="text" name="title">
    <input type="text" name="details">
    <button type="submit">Create Task</button>
  </form> %>
